#foot hr{
 
    background: url('/images/logo-3268177_640.png') no-repeat top center;
    background-size: contain;
    display: block;
    height: 18px;
    border: 0;
    position: relative;
}
#foot hr:before,
#foot hr:after {
    content: '';
    display: block;
    position: absolute;
    background: #d7d7d7;
    height: 2px;
    top: 8px;
}
#foot hr:before {
    left: 0;
    right: 50%;
    margin-right: 10px;
}
#foot hr:after {
    right: 0;
    left: 50%;
    margin-left: 10px;
}